<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./images/icons8-question-96.png" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="./css/reset.css" />
  <link rel="stylesheet" href="./css/dashboard.css">
  <title>Statistic Dashboard</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div class="chart-container">
    <div class="chart-item">
      <canvas id="totalAccuracy"></canvas>
    </div>
    <div class="chart-item">
      <canvas id="accuracyOverTime"></canvas>
    </div>
    <div class="chart-item">
      <canvas id="accuracyByCategory"></canvas>
    </div>
    <div class="chart-item">
      <canvas id="questionsByCategory"></canvas>

    </div>
    <div class="chart-item">
      <canvas id="accuracyByDifficulty"></canvas>
    </div>
    <div class="chart-item">
      <canvas id="questionsByDifficulty"></canvas>
    </div>
    
  </div>





  <script>
    let data;
    <% if (typeof stats !== 'undefined' && stats !== null) { %>
    data = <%- JSON.stringify(stats) %>;
    <% } else { %>
    console.error('stats is undefined or null');
    <% } %>
  </script>
  <script src="/js/dashboard.js"></script>
</body>

</html>