body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Archivo", sans-serif;
  height: 100%;
  width: 100vw;
  background-color: #e5e5f7;
  background-image: radial-gradient(#000 0.5px, #e5e5f7 0.5px);
  background-size: 15px 15px;
}

.titleText {
  font-size: 2.6em;
  font-weight: 900;
  margin-bottom: 0.5em;
  text-shadow: 0.075em 0.075em 0 #ffc400;
  text-align: center;
}

.chart-container {
  height: 70%;
  width: 90%;
}

button {
  align-items: center;
  background-color: #ffc400;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  height: 3em;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #ffdeda;
  outline: 0;
}

button:hover {
  outline: 0;
}
