body {
  font-family: "Archivo", sans-serif;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e5e5f7;
  background-image: radial-gradient(#000 0.5px, #e5e5f7 0.5px);
  background-size: 15px 15px;
}

/* Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 600ms ease-in;
}
.fade-out {
  animation: fadeOut 1600ms ease-out;
}

/* Layout */

.title {
  width: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questionMarkIcon {
  position: fixed;
  top: 2em;
}

.titleText {
  font-size: 2.3em;
  font-weight: 900;
  margin-bottom: 0.5em;
  text-shadow: 0.075em 0.075em 0 #ffc400;
  text-align: center;
}

.triviaTitle {
  position: fixed;
  bottom: 2em;
  font-size: 2.3em;
  font-weight: 900;
  text-shadow: 0.075em 0.075em 0 #ffc400;
  text-align: center;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.aligntext {
  align-self: center;
  font-size: 1.2em;
  margin-bottom: 1em;
  padding: 0.25em 0.6em 0.25em 0.6em;
  background-color: #e5e5f7;
  box-shadow: rgba(255, 196, 0) 0px 2px;
}

.difficultyBtns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.questionAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20em;
  height: 3em;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.swiper-slide-active {
  visibility: visible;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: #000; /* Change the color of the arrows */
  width: 3em; /* Change the width of the arrows */
  height: 3em; /* Change the height of the arrows */
}

.attribution {
  position: fixed;
  text-align: center;
  bottom: 0.5em;
  font-size: 0.75em;
}

.attribution a {
  color: blue;
  text-decoration: underline;
}

/* Trivia container Styling */

.triviaContainer {
  display: flex;
  flex-direction: column;
  width: 22em;
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid #ffc400;
  outline: 3px solid #000;
  border-radius: 0.5em;
  transition: 200ms ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.questionBox {
  margin: 2em 1em 1em 1em;
}

.questionBox div {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 0.25em;
  text-align: left;
  line-height: 1;
  word-wrap: break-word;
  background: #e5e5f7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.question {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.answerBox {
  display: flex;
  flex-direction: column;
  margin: 0 1em 2em 1em;
}

.answerBox div {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 0.25em;
  cursor: pointer;
  text-align: left;
  background-color: #e5e5f7;
  transition: 200ms ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.answerBox div:hover {
  background-color: #ffc400;
}

.answerBox div:last-child {
  margin-bottom: 0;
}

.answerBox div:nth-child(1)::before {
  content: "A.";
}
.answerBox div:nth-child(2)::before {
  content: "B.";
}
.answerBox div:nth-child(3)::before {
  content: "C.";
}
.answerBox div:nth-child(4)::before {
  content: "D.";
}
.answerBox div::before {
  margin-right: 0.5em;
  font-weight: bold;
}

/* Score screen styling */

.scoreresult {
  font-size: 4em;
}

.final-buttons {
  display: flex;
  width: 20em;
  justify-content: space-evenly;
  margin-top: 1em;
}

/* Buttons styling */

button {
  align-items: center;
  background-color: #ffc400;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  height: 3em;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

button:hover:after {
  transform: translate(0, 0);
}

button:active {
  background-color: #ffdeda;
  outline: 0;
}

button:hover {
  outline: 0;
}

.questionAmount button {
  padding: 0 1.25em;
}
